<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body style="background-color: black;">
    <center>
      <h1
        style="
          color: #fff;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
            font-size: 48px;
        "
      >
        Digital World
      </h1>
      <h2
        style="
          color: rgb(153, 255, 0);
          font-family: 'Courier New', Courier, monospace;
          font-size: 36px;
        "
      >
        Welcome, <%= title %>
      </h2>
    </center>
  </body>
</html>
